[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
bokeh = "==2.0.2"
pandas = "==1.0.4"
textblob = "==0.15.3"
streamlit = "==0.61.0"
gTTS = "==2.1.1"
Pillow = "==7.1.2"

[requires]
python_version = "3.6"
